<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964273362608-jope2iuq87dam05so9ao0ka16sechm76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964273362608-jope2iuq87dam05so9ao0ka16sechm76</string>
	<key>API_KEY</key>
	<string>AIzaSyCYtF4olJGOmJXHOU9nY9OqvlkOuJp7O-I</string>
	<key>GCM_SENDER_ID</key>
	<string>964273362608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>insta.app.com.instaClone</string>
	<key>PROJECT_ID</key>
	<string>gitgram-f9f05</string>
	<key>STORAGE_BUCKET</key>
	<string>gitgram-f9f05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964273362608:ios:d2e362a232598b448fcd75</string>
	<key>DATABASE_URL</key>
	<string>https://gitgram-f9f05.firebaseio.com</string>
</dict>
</plist>